:root{
    --dark-purple: #22162B;
}

*{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto 1fr;
}

.library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 3px 20px 2px rgb(0 0 0 / 16%)
}

li{
    list-style: none;
}

ul{
    margin: 20px;
    padding: 0;
}

h1{
    box-sizing: content-box;
    text-align: left;
    margin: 0;
    padding-left: 30px;
    padding-block: 30px;
    grid-column: 1 / 3;
    background-color: #f6f7f1;
    color: var(--dark-purple);
    border-top: 20px solid var(--dark-purple);
}

.imgFiller{
    height: 230px;
    position: relative;
}

.info{
    margin: 20px 20px;
}

.info *{
    margin: 0;
}

.title{
    margin-bottom: 0;
}

.author{
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 0.95em;
}

.pages{
    color: rgb(107, 106, 106);
    font-size: 0.8em;
}

.readStatus{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: white;
    border-radius: 3px;
    font-weight: 700;
    font-size: 0.85em;
}

.read{
    background-color: #9BE564;
}

.unread{
    background-color: rgb(214, 40, 57);
}

h2{
    font-size: 1.4em;
}

.infoBottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.toggleRead{
    font-size: 0.7em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-purple);
    height: 25px;
    margin-top: auto;
}

.toggleRead:hover{
    background-color: #472e5a;
}

.sidebar{
    background-color: var(--dark-purple);
}